<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIQXtHSXXA_-1gLuy1VkxqrFFxWhv9biA</string>
	<key>GCM_SENDER_ID</key>
	<string>53989677370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hazardReportingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hazard-reporting-app-1</string>
	<key>STORAGE_BUCKET</key>
	<string>hazard-reporting-app-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53989677370:ios:1097f9b6650b11f9e5d803</string>
</dict>
</plist>